li::marker {
  content: counter(list-item) "› "; 
  color: hotpink;
}
  li {
    padding-inline-start: 1ch;
  }
  
  ul, ol {
    max-width: 35ch;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
   
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    padding: 2ch;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui;
    font-size: 1.3rem;
    line-height: 1.5; 
    background: hsl(200 20% 98%);
    color: hsl(200 30% 25%);
  }
